# ROS 2 / colcon
build/
install/
log/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
dist/

# Archivos de backup
*.bak
*.tmp
*~

# Sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Logs
*.log
